@font-face {
  font-family: 'Butler';
  src: url('../fonts/ButlerStencil.woff2') format('woff2'),
      url('../fonts/ButlerStencil.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}
